title: Automated File Collection Using Command Line
id: 2a123456-3456-abcd-ef01-3456a123456c
status: production
level: medium
logsource:
    product: windows
    category: process_creation
detection:
    selection_dir:
        Image|endswith: '\cmd.exe'
        CommandLine|contains|all:
            - 'dir'
            - '/s'
        CommandLine|contains:
            - '.doc'
            - '.xls'
            - '.pdf'
    selection_powershell:
        CommandLine|contains: 'Get-ChildItem'
        CommandLine|contains: '-Recurse'
    condition: selection_dir or selection_powershell
tags:
    - attack.collection
    - attack.t1119